{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h2 class="text-2xl font-semibold mb-2">Home Page</h2>

<p>This is the list of all articles:</p>
<ul class="list-disc pl-5 space-y-2">
    {% if not articles %}
        <p>No articles found.</p>
    {% else %}
        {% for article in articles %}
            {% if article.title %}
                <li class="mb-2"><a class="text-blue-600 hover:underline" href="/articles/{{article.id}}/">Id: {{article.id}} - {{ article.title }}</a></li>
                <p class="text-gray-700">{{ article.content }}</p>
                <button class="px-4 py-2 bg-green-600 text-white rounded hover:bg-green-700"><a href="/articles/{{ article.id }}/edit">Edit</a></button>
            {% endif %}
        {% endfor %}
    {% endif %}
</ul>
{% endblock %}